<!DOCTYPE html>
<html>

<head>
    <title>Tripathi Bioinformatics</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Recommended Pipeline</h1>
    <h2>Your recommended pipeline:</h2>

    <%- '<script>' %>
        console.log('Received Checkbox Status:', <%= JSON.stringify(selectedOptions) %>);
    <%- '</script>' %>


    <p>Received Boolean Array:</p>
    <ul>
        <% selectedOptions.forEach((value, index) => { %>
            <li>Element <%= index + 1 %>: <%= value %></li>
        <% }); %>
    </ul>

    

</body>

</html>