<!DOCTYPE html>
<html>

<head>
    <title>Tripathi Bioinformatics</title>
    <link rel="stylesheet" href="https://use.typekit.net/azy2ine.css">
    <link rel='stylesheet' href='/stylesheets/pipeline.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/dna-goalposts.css' />
</head>

<body>
    <!-- Toolbar -->
    <%- include('partials/toolbar') %>

    <div class="goalpost_content">
        <h1>Recommended Pipeline</h1>
        <h3 style="color:black;">Select a goalpost for the end of your timeline</h3>

        <form id="goalpostForm" action="/dna-pipeline" method="post">
            <% Categories.forEach(category => { %>

                <button type="button" class="collapsible" onclick="toggleCollapsible('section_<%= category.title%>')">
                    <h3>
                        <%=category.title %>
                    </h3>
                </button>

                <div class="content" id="section_<%= category.title %>">
                    <% for (let j=0; j < category.entries.length; j++) {
                        if (category.title === "File Processing") {
                            if (infoSteps[j] === 0) { continue; }
                        }
                        let entry = Commands.get(category.entries[j]);
                        %>
                        <div style="display: flex;">
                        <label class="checkbox-container">
                            <input type="checkbox" name="<%= entry.serverCall %>" <% if (entry.isEnabled) {
                                %>checked
                            <% } %>>
                            <span class="checkmark"></span>
                                <h4 class="category_labels"><%= entry.title %></h4>
                        </label>
                    </div>
                        <% } %>
                </div>
                <% }) %>

                <%- '<script>' %>

                    const form = document.getElementById('goalpostForm');
                    let Commands = new Map(JSON.parse('<%- JSON.stringify(Array.from(Commands.entries())) %>'));
                    let Categories = JSON.parse('<%- JSON.stringify(Categories) %>');
                    const infoSteps = JSON.parse('<%- JSON.stringify(infoSteps) %>');

                    form.addEventListener('change', function (event) {
                        if (event.target.type === 'checkbox') {
                            // Set the correct array element accordingly
                            
                            changingEntry = Commands.get(event.target.name);
                            Commands.set(event.target.name, {title: changingEntry.title, isEnabled: event.target.checked, serverCall: changingEntry.serverCall});

                        }
                    });

                    form.addEventListener('submit', function(event) {
                        // prevent submission for now
                        event.preventDefault();

                        console.log(Commands);

                        // send the Commands array as a hidden input, to make sure it updates BTS
                        const sendCommands = document.querySelector('[name="Commands"]');
                        sendCommands.value = JSON.stringify(Array.from(Commands.entries()));

                        // Submit the form
                        form.submit();
                    });

                    // JavaScript to handle the toggling
                    function toggleCollapsible(sectionId) {
                        const collapsibleContent = document.getElementById(sectionId);
                        collapsibleContent.classList.toggle('active');
                    }

                <%- '</script>' %>

                <input type="hidden" name="Commands">

                <button class="goals_continue_button" type="submit"><h3 style="color: black">Generate Timeline</h3></button>
        </form>
    </div>
</body>

</html>