<!DOCTYPE html>
<html>

<head>
    <title>Tripathi Bioinformatics</title>
    <link rel='stylesheet' href='/stylesheets/pipeline.css' />
    <style>
        .container {
            padding: 20px;
            margin: 20px;
            border: 1px solid #ccc;
            width: 300px;
        }

        .options-container {
            margin-top: 10px;
        }

        .options-container label {
            display: block;
            margin-bottom: 5px;
        }

        .edit-btn, .save-btn {
            margin-top: 10px;
            cursor: pointer;
        }

        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <h1>Recommended Pipeline</h1>
    <h2>Your recommended pipeline:</h2>

    <form id="dnaPipelineForm" action="/running" method="post">


    <% for (let i=0; i < categories.length; i++) { %>
        
        <button type="button" class="collapsible" onclick="toggleCollapsible('section<%= i %>')">
            <h3> <%=categories[i][0] %> </h3>
        </button>

        <div class="content" id="section<%= i %>">
            <% for (let j=0; j < categories[i][1].length; j++) { %>
                <div>
                    <label>
                        <input type="range" min="0" max="1" step="1" value="<%= categories[i][1][j][1] ? 1 : 0;%>" name="slider_<%= i %>_<%= j %>">
                        <%= categories[i][1][j][0] %>
                    </label>

                    <!-- The set parameters container. For each parameter, make an input and save its value to the array slot -->
                    <div id="options_<%= i %>_<%= j %>" class="options-container hidden">
                        <% for (let k=0; k < categories[i][1][j][2].length; k++)  {
                            let curr_option = categories[i][1][j][2][k]; %>
                        <label for="<%=curr_option[0]%>"><%=curr_option[0]%>:</label>

                        <% if (curr_option[1] == "number") { %>
                            <input type="number" id="<%=curr_option[0]%>" value="<%=curr_option[3]%>">
                        <% } else if (curr_option[1] == "checkbox") { %>
                            <input type="checkbox" id="<%=curr_option[0]%>" <% if (curr_option[3]) { %>checked<% } %>>
                        <% } else { %>
                            <select id="<%=curr_option[0]%>">
                                <% for (let l=0; l < curr_option[2].length; l++) {%>
                                <option value="<%=curr_option[2][l]>%"><%=curr_option[2][l]%></option>
                            </select>
                        <% }}} %>

                        <!-- Switch container visibilites -->
                        <button class="save-btn">Save</button>
                    </div>
                
                    <!-- The display parameters container. For each parameter, display the value in its array slot -->
                    <div class="options-display hidden">
                        <!-- Display options here after saving -->
                        <!-- Switch container visibilities -->
                        <button class="edit-btn hidden">Edit</button>
                    </div>
                
                    
                </div>
            <% } %>
        </div>
        <% } %>

        <%- '<script>' %>
            const form = document.getElementById('dnaPipelineForm');
            const categories = JSON.parse('<%- JSON.stringify(categories) %>');
    
            form.addEventListener('change', function (event) {
                if (event.target.type === 'range') {
                    // Extract i and j from the slider name
                    const sliderName = event.target.name;
                    const [, i, j] = sliderName.split('_').map(Number);
    
                    // Set the correct array element accordingly
                    categories[i][1][j][1] = (event.target.value == 1);
                    const elementId = 'options_' + i + '_' + j;
                    optionsDiv = document.getElementById(elementId);

                    if (categories[i][1][j][1]) {
                        optionsDiv.classList.remove('hidden');
                    } else {
                        optionsDiv.classList.add('hidden');
                    }

                    // console.log('Categories:', categories);
                }
            });
            // JavaScript to handle the toggling
            function toggleCollapsible(sectionId) {
                const collapsibleContent = document.getElementById(sectionId);
                collapsibleContent.classList.toggle('active');
            }
        <%- '</script>' %>
    </form>

</body>

</html>