<!DOCTYPE html>
<html>

<head>
    <title>Tripathi Bioinformatics</title>
    <link rel="stylesheet" href="https://use.typekit.net/azy2ine.css">
    <link rel='stylesheet' href='/stylesheets/pipeline.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/dna-goalposts.css' />
</head>

<body>
    <!-- Toolbar -->
    <%- include('partials/toolbar') %>

    <div class="goalpost_content">
        <h1>Recommended Pipeline</h1>
        <h3 style="color:black;">Select a goalpost for the end of your timeline</h3>

        <form id="goalpostForm" action="/dna-pipeline" method="post">
            <% for (let i=0; i < categories.length; i++) { %>

                <button type="button" class="collapsible" onclick="toggleCollapsible('section<%= i %>')">
                    <h3>
                        <%=categories[i][0] %>
                    </h3>
                </button>

                <div class="content" id="section<%= i %>">
                    <% for (let j=0; j < categories[i][1].length; j++) {
                        if (categories[i][0] === "File Processing") {
                            if (infoSteps[j] === 0) { continue; }
                        } %>
                        <div style="display: flex;">
                        <label class="checkbox-container">
                            <input type="checkbox" name="checkbox_<%= i %>_<%= j %>" <% if (categories[i][1][j][1]) {
                                %>checked
                            <% } %>>
                            <span class="checkmark"></span>
                                <h4 class="category_labels"><%= categories[i][1][j][0] %></h4>
                        </label>
                    </div>
                        <% } %>
                </div>
                <% } %>

                <%- '<script>' %>
                    const form = document.getElementById('goalpostForm');
                    const categories = JSON.parse('<%- JSON.stringify(categories) %>');
                    const infoSteps = JSON.parse('<%- JSON.stringify(infoSteps) %>');
                    console.log('Categories:', categories);
                    console.log('InfoSteps:', infoSteps);

                    form.addEventListener('change', function (event) {
                    if (event.target.type === 'checkbox') {
                    // Extract i and j from the checkbox name
                    const checkboxName = event.target.name;
                    const [, i, j] = checkboxName.split('_').map(Number);

                    // Set the correct array element accordingly
                    categories[i][1][j][1] = event.target.checked;
                    }
                    });

                    form.addEventListener('submit', function(event) {
                    // prevent submission for now
                    event.preventDefault();

                    // send the categories array as a hidden input
                    const sendCategories = document.querySelector('[name="categories"]');
                    sendCategories.value = encodeURIComponent(JSON.stringify(categories));

                    // Submit the form
                    form.submit();
                    });

                    // JavaScript to handle the toggling
                    function toggleCollapsible(sectionId) {
                    const collapsibleContent = document.getElementById(sectionId);
                    collapsibleContent.classList.toggle('active');
                    }

                <%- '</script>' %>

                <input type="hidden" name="categories">

                <button class="goals_continue_button" type="submit"><h3 style="color: black">Generate Timeline</h3></button>
        </form>
    </div>
</body>

</html>