<!DOCTYPE html>
<html>

<head>
    <title>Tripathi Bioinformatics</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .running_content {
            padding: 4% 8%;
            max-width: 75%;
            text-align: left;
        }

        .info_box {
            border: 4px solid #5a8096;
            border-radius: 10px;
            padding: 1rem;
            margin-left: 2rem;
            max-width: 15rem;
        }
    </style>
</head>

<body>
    <div class="toolbar">
        <img style="margin-top: 2rem; width: 8rem; height: 8rem;" src="../uploads/Unchecked_Circle.png" alt="logo">
        <h4>Select a Workflow to Get Started</h4>
        <div>
            <!-- Assuming your array is named 'myArray' and 'index' is the specified index -->
            <% for (let i=0; i < toolbar.length; i++) { %>
                <!-- Check if the current index is before or after the specified index -->
                <div style="display: flex; align-items: center;">

                    <% if (i < index) { %>
                        <!-- Print true image if before the specified index -->
                        <img style="width: 2rem; height: 2rem;" src="../uploads/Checked_Circle.png"
                            alt="Checked Circle">
                        <% } else { %>
                            <!-- Print false image if after or at the specified index -->
                            <img style="width: 2rem; height: 2rem;" src="../uploads/Unchecked_Circle.png"
                                alt="Unchecked Circle">
                            <% } %>

                                <!-- Print the text next to the image -->
                                <p style="color: #02598A; margin-left: 10px;">
                                    <%= toolbar[i] %>
                                </p>
                </div>

                <!-- Line break after each iteration -->
                <br>
                <% } %>
        </div>
    </div>

    <div class="running_content">
    <h1>Running Your Generated Timeline</h1>
    <h3>Please wait.</h3>

    <h4>Your Timeline:</h4>

    <% for (let i=0; i < categories.length; i++) { %>
        <div id="section<%= i %>">
            <% for (let j=0; j < categories[i][1].length; j++) {
                if (!categories[i][1][j][1]) { break; }
                %>
                    <div>
                        <img class="status_img" id="status_img_<%= i %>_<%= j %>">
                        <h3 class="status_text_none" id="status_text_<%= i %>_<%= j %>"></h3>
                    </div>
                    <div  class="info_box">
                        <h3>
                            <%= categories[i][1][j][0] %>
                        </h3>

                        <div id="selections_display_<%= i %>_<%= j %>" class="selections-display hidden">
                            <!-- Display selections -->
                            <% for (let k=0; k < categories[i][1][j][2].length; k++) { %>
                                <div style="display: flex;">
                                <p style="color: #02598A;"> <%=categories[i][1][j][2][k][0]%>: </p>
                                <p style="margin-left: 1rem;" id="option_<%= i %>_<%= j %>_<%= k %>_display"><%=categories[i][1][j][2][k][3]%></p>
                                <br></div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
        </div>
        <% } %>
    </div>

<!-- Add a script that does each category item by item and sets the status_img and status_text class and fields as it completes -->

</body>

</html>